@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

*{
    margin: 0;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.container {
    width: 480px;
    height: 600px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 5px 5px;
    margin: 0 auto;
    max-width: 480px;
}

.display {
    
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: black;
    border-radius: 5px;
    color: whitesmoke;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: right;
    min-height: 50px;
    padding-bottom: 25px;
    overflow: hidden;
}

.button {
    font-size: 2rem;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 100ms linear; 
    cursor: pointer;
    min-height: 92px;
    min-width: 113px;
}

.button:hover {
    background-color: indigo;
}

#zero {
    grid-column-start: 1;
    grid-column-end: 3;
}



#reverse, #ac, #dot {
    font-weight: 1000;
}